subprojects/*
!subprojects/gdk-pixbuf.wrap
!subprojects/glib.wrap
!subprojects/libadwaita.wrap
!subprojects/librsvg.wrap
!subprojects/pango.wrap
!subprojects/cairo.wrap
!subprojects/libfyaml.wrap
!subprojects/libtiff.wrap
!subprojects/liblzma.wrap
!subprojects/zstd.wrap
!subprojects/lzo2.wrap
!subprojects/appstream.wrap
!subprojects/gtk.wrap
!subprojects/libxml2.wrap
!subprojects/gtksourceview.wrap
!subprojects/packagefiles/
